<!--
  Generated template for the DoorAuthenticatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Door Authenticate</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="latar6">
    
  <p href="Enter RAC Number" style="text-align: center;font-size: 14pt; color: rgb(255, 255, 255); font-style: bold">Enter RAC Number</p>
    
  <ion-list class="latar5">
      <ion-item class="racnumber">
          <ion-label floating>RAC Number</ion-label>
          <ion-input *ngIf="InputDisabled" type="password"  maxlength="6" name="verify" [(ngModel)]="user.verify"></ion-input>
        </ion-item>
  </ion-list>

  <ion-item  style="color:white">
      <ion-toggle *ngIf="ToggleDisabled" [(ngModel)]="Status" (ionChange)="change()"></ion-toggle>
      <ion-label *ngIf="Status">Lock</ion-label>
      <ion-label *ngIf="!Status">Unlock</ion-label>
    </ion-item>

    <p style="text-align: center;font-size: 14pt; color: rgb(255, 255, 255); font-style: bold" (click)="request()">Request For RAC</p>

    <button *ngIf="ButtonDisabled" class="butang" ion-button block large (click)="verifying()">Verify</button>
</ion-content>

<!-- ee -->