page-accountinfo {
    background-color: #ffffff00;
}

.warna
{
    color: rgb(255, 255, 255);
}

.latar3
{
    background-color: #ffffff;
}

.latar4
{
    background-color: rgb(255, 255, 255);
}

.list1
{
    background-color: rgb(255, 255, 255);
}

.cdbg 
{
    background-color: rgba(255, 255, 255, 0); ;
    border-style: none;
    box-shadow: none;
    
}

.btgedit
{
    background-color: rgb(0, 10, 97); ;
    border-style: none;
    box-shadow: none;
    text-align: center;
}

