page-home {
    background-color: #b06ab3 ;
}

.ion-navbar
{
    color:rgb(0, 0, 0);
}

.latarumah
{
    background-color: rgba(255, 255, 255, 0.712);
    width:175px;
    height:175px;
    -webkit-border-radius: 70%;
    box-shadow: 100%;
    border-radius: 70%;
    border: 5px solid (#ffffff);
    // display: inline-block;
    margin: 0 auto;
    // overflow: hidden;
}

.statuspintu
{
    border-style: none;
    background-color: transparent;
    box-shadow: none !important;
    border-color: rgba(0,0,0,0) !important;
    outline: none !important;
}

.bg
{
    
    background-color: transparent;
}

.card-background-page{
    background-color: transparent;
}

.keselamatan
{
    background-color: rgb(255, 255, 255);
}

.lockimg
{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
